.container{
    text-align:center;
}

.counter{
    font-size:70px;
    color:green;
}

button{
    padding:10px 20px;
    margin:5px;
    font-size:18px;
    cursor:pointer;
}
.ColorSection h2{
    margin:20px 0;
    color: rgb(0,0, 0);
}
